
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#welcome {
  background-color: #f0f0f0;
  position: fixed;
  padding: 10px;
  width: 200px;
  height: 200px;
  left: 35%;
  z-index: 1;
}

#chat, #messageForm input {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#messageForm input {
  
}

#chat {
  height: 400px;
}

#chat p {
  background-color: #d0d0d0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px;
  margin: 20px;
}

#messageForm input {
}